<h1>Guests#new</h1>
<p>Find me in app/views/guests/new.html.erb</p>
<div class="formSignUp">
        <%= form_for @guest do |f| %>
        <%= f.label "First Name:", class: "label"%>
        <%= f.text_field :first_name, class: "field"%> 
        <%= f.label "Last Name:", class: "label"%>
        <%= f.text_field :last_name, class: "field"%>
        <%= f.label :email, class: "label"%>
        <%= f.text_field :email, class: "field"%>
        <%= f.label :password, class: "label"%>
        <%= f.password_field :password, class: "field"%>
        <%= f.submit "Create", class: "submit"%>
    <%end%>
</div>

