<div class="heading_page" style="background-color: rgb(24, 24, 233);color:white;padding:10px 0px">
   <h1>Account Information</h1> 
</div>

    <div class="top menu" style="text-align:right; margin:5px 0px">
        <% if session[:user]%>
        <button class="ui black basic button" disabled>
            <%=Guest.find(session[:user]).first_name%>
        </button>
        <button class="ui inverted red button">
                <%= link_to "LOGOUT", logout_session_path, method: :get%>
        </button>
        <%end%>
    </div>
    <div class="search button" style="text-align:left">
        <button class="ui inverted primary button" >
            <%= link_to "Search Hotel", home_pages_path, method: :get%>
        </button>
        <button class="ui inverted primary button" >
            <%= link_to "Existing Reviews", reviews_path, method: :get%>
            </button>
    </div>
<br>

<div class="ui one column"  style="margin:0px 200px">
        <div class="column">
          <div class="ui raised segment">
            <a class="ui blue ribbon label">Account Details</a>
            <h3><%= @guest.first_name%> <%= @guest.last_name%></h3>
            <h3>Email: <%= @guest.email%></h3>
          </div>
        </div>
      </div>
      <br>


<% @bookings.each do |booking|%>
<hr>
   <h3>Hotel Name: <%= link_to booking.room.hotel.name, hotel_path(booking.room.hotel)%></h3>
   <h3>Checkin Date: <%=booking.check_in_date%></h3>
   <h3>Checkout Date: <%=booking.check_out_date%></h3>
   <h3>Cost: <%=booking.cost%></h3>
   <%= button_to "EDIT BOOKING", edit_booking_path(booking), method: :get%>
   <%= button_to "DELETE BOOKING", booking_path(booking), method: :delete%>
   <%=form_tag new_review_path, method: :get do%>
       <%=hidden_field_tag :hotel_id, booking.room.hotel.id%>
       <%= submit_tag "WRITE A NEW REVIEW"%>
   <%end%>
<hr>
<%end%>



