<h1>Guests#show</h1>
<p>Find me in app/views/guests/show.html.erb</p>
<hr>
<%= button_to "Search Hotel", home_pages_path, method: :get%>
<hr>
<h2>Name: <%= @guest.first_name%> <%= @guest.last_name%></h2>
<h2>Email: <%= @guest.email%></h2>
<hr>
<%= button_to "Existing Reviews", reviews_path, method: :get%>
<% @bookings.each do |booking|%>
<hr>
    <h3>Hotel Name: <%= link_to booking.room.hotel.name, hotel_path(%></h3>
    <h3>Checkin Date: <%=booking.check_in_date%></h3>
    <h3>Checkout Date: <%=booking.check_out_date%></h3>
    <h3>Cost: <%=booking.cost%></h3>
    <%= button_to "Edit Booking", edit_booking_path(booking),method: :get%>
    <%=form_tag new_review_path, method: :get do%>
        <%=hidden_field_tag :hotel_id, booking.room.hotel.id%>c

        <%= submit_tag "Write a new review"%>
    <%end%>
<hr>
<%end%>
