<div class="booking-full-container">
    <div class="booking-main-container">
    <div class="booking-heading" >
        <h1>Create New Booking</h1>
    </div>

    <div class="menu-container">
            <div class="top-menu">
                <% if session[:user]%>
                    <button class="positive ui button">
                        <%= link_to "ACCOUNT", guest_path(Guest.find(session[:user])), method: :get%>
                    </button>
                    <button class="negative ui button">
                        <%= link_to "LOGOUT", logout_session_path, method: :get%>
                    </button>
                <%end%>
            </div>
        </div> 
<div class="error-text">
        <% if @booking.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@booking.errors.count, "error") %>
      prohibited this booking from being created:
    </h2>
 
    <ul>
    <% @booking.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
    </ul>
  </div>
  <br>
<% end %>
</div>

    <%= form_for @booking do |f|%>
        <%= f.hidden_field :guest_id, :value => @guest_id%>
        <%= f.hidden_field :room_id, :value => @room_id%>
        <%= f.label "Number of Guests", class: "label"%>
        <%= f.number_field :number_of_guest, placeholder: "Number of guest", class: "booking-field"%>  <br>
        <%= f.label "check In Date", class: "label"%>
        <%= f.date_field :check_in_date, class: "booking-field"%> <br>
        <%= f.label "check Out Date", class: "label"%>
        <%= f.date_field :check_out_date, class: "booking-field"%> <br>
        <%= f.hidden_field :booking_date, :value => Date.today%>
        <%= f.hidden_field :cost, :value => 0%>
        <button class="ui primary button">
            <%= f.submit "BOOK", class: "submit-booking"%>
        </button>
        <button class="ui red basic button">
            <%=link_to "CANCEL", home_pages_path %>
        </button>
        <%end%>
    </div>

<hr>
</div>


