<div class="booking-full-container">
        <div class="booking-heading" >
                <h1>Booking Information</h1>
        </div>

        <div class="menu-container">
                <div class="top-menu">
                        <% if session[:user]%>
                        <button class="positive ui button">
                                <%= link_to "ACCOUNT", guest_path(Guest.find(session[:user])), method: :get%>
                        </button>
                        <button class="negative ui button">
                                <%= link_to "LOGOUT", logout_session_path, method: :get%>
                        </button>
                        <%end%>
                </div>
        </div>
        <div class="booking-info">
                <h1>CheckIn Date: <%=@booking.check_in_date%></h1>
                <h1>CheckOut Date: <%=@booking.check_out_date%></h1>
                <h1>Number of Guest: <%=@booking.number_of_guest%></h1>
                <h1>Cost: $<%=@booking.cost%></h1>
                <h1>Guest First Name: <%=@booking.guest.first_name%></h1>
                <h1>Room Type: <%=@booking.room.room_type%></h1>
        </div>
        <div class="booking-buttons">
                <div class="edit">
                        <%= button_to "EDIT BOOKING", edit_booking_path(@booking), method: :get, class: "edit-booking"%>
                </div>
                <div class="delete">
                         <%= button_to "DELETE BOOKING", booking_path(@booking), method: :delete, class: "delete-booking"%>
                </div>
                    </div>

</div>