<h1>Rooms#show</h1>
<li><%=@room.image%></li>
<li>Room type: <%=@room.room_type%></li>
<li>Cost per day: $<%=@room.rate%></li>

<%= form_tag new_booking_path, method: :get do %>
    <%= hidden_field_tag :room_id, @room.id%>
    <%= submit_tag "BOOK THIS ROOM"%>
<%end%>


