<h1>Reviews</h1>
<br>
<br>

<div class="ui cards">
<%@guest.reviews.each do |review|%>
<div class="ui card">
        <div class="content">
          <div class="header"><%=review.title%></div>
          <div class="meta"><%=review.hotel.name%>, <%=review.hotel.city%></div>
          <div class="meta"><%=review.created_at.strftime("%B %d %Y")%></div>
          <div class="meta"><%=review.star%> Stars</div>
          <div class="description">
            <p><%=review.content%></p>
          </div>
        </div>
      </div>
<%end%>
</div>